{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Verify
Your E-mail Address" %}{% endblock %} {% block content %}
<div class="col-md-4 mx-auto">
  <h1>{% trans "Verify Your E-mail Address" %}</h1>

  <p>
    {% blocktrans %}Le hemos enviado un correo electrónico para su verificación. 
    Verifique su carpeta de correo no deseado. Por favor
    contáctenos si no recibe el correo electrónico de verificación dentro de unos pocos
    minutos.{% endblocktrans %}
  </p>
</div>
{% endblock %}
